<!-- <!DOCTYPE html>

<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class=h"browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="section-1">
            <h1>Hello World</h1>

        </div>
        <div id="section-2">
            <h3> Hello</h3>
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F677439968930881544%2F&psig=AOvVaw0OjtDrXJDGKORJ5uYfm7zl&ust=1600657748268000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIim9PTg9usCFQAAAAAdAAAAABAI" />
            <p> I am the P tag</p>
        </div>
        <script src="" async defer></script>
    </body>
</html> -->